.edit{
      width: "400px";
      height: "50vh";
      margin-left: "auto";
      margin-right: "auto";
      padding:"10px";
}

.check{
  color: red;
}

#previewer{
  height: 300px;
  width: 300px;
  background-color: aliceblue;
}